*.o
*.so
*.pyc
*.axi
*.log
*.coe
*.bak
*.DS_Store
*.str
*.symvers
*.exe
*zlog-cfg-cur*
*bf_drivers.log*
ptf.pcap

vivado.jou
component.xml
rom_data.txt
xgui/
ip_proj/

lib/hw/contrib/cores/nf_sume_sdnet_ip/
lib/hw/xilinx/cores/cam_v1_1_0/xapp1151_Param_CAM.zip
lib/hw/xilinx/cores/cam_v1_1_0/xapp1151_cam_v1_1/
lib/hw/xilinx/cores/tcam_v1_1_0/xapp1151_Param_CAM.zip
lib/hw/xilinx/cores/tcam_v1_1_0/xapp1151_cam_v1_1/
lib/sw/std/driver/sume_riffa_v1_0_0/.tmp_versions/
lib/sw/std/driver/sume_riffa_v1_0_0/modules.order
lib/sw/std/driver/sume_riffa_v1_0_0/sume_riffa.ko
lib/sw/std/driver/sume_riffa_v1_0_0/sume_riffa.mod.c
lib/sw/std/driver/sume_riffa_v1_0_0/*.cmd
lib/hw/std/cores/axi_sim_transactor_v1_0_0/hdl/axis_sim_pkg/
lib/hw/std/cores/axi_sim_transactor_v1_0_0/hdl/lib_pkg_v1_0/
lib/hw/std/cores/axi_sim_transactor_v1_0_0/hdl/lib_srl_fifo_v1_0/
lib/hw/std/cores/axis_sim_stim_v1_0_0/hdl/axis_sim_pkg/
lib/sw/std/apps/sume_riffa_v1_0_0/rwaxi

sshuttle.pid
seed
test.pcap
*~*.*xlsm*
regs_gen.py
lib/hw/contrib/cores/nf_sume_sdnet_ppl_ip/
lib/hw/contrib/cores/nf_sume_sdnet_dbg_ip/
lib/hw/contrib/cores/nf_sume_sdnet_ver_ip/
contrib-projects/sume-sdnet-switch/projects/PTA/nf_sume_sdnet_*
contrib-projects/sume-sdnet-switch/projects/PTA/simple_sume_switch/sw/host/apps/rwaxi
tools/PTA_tools/*.txt
tools/PTA_tools/PTA.sh

contrib-projects/sume-sdnet-switch/projects/PTA/ppl_src/control_plane/**/*.txt

contrib-projects/sume-sdnet-switch/projects/PTA/ver_src/dataplane/externs.p4
contrib-projects/sume-sdnet-switch/projects/PTA/ver_src/dataplane/pipe.p4
contrib-projects/sume-sdnet-switch/projects/PTA/ver_src/dataplane/meta_assign.txt
contrib-projects/sume-sdnet-switch/projects/PTA/ver_src/dataplane/assertions.txt
contrib-projects/sume-sdnet-switch/projects/PTA/ver_src/controlplane/
