*.pcap
*.dat
*.sdnet
*.tbl
*.json
Tuple_*.txt
config_writes.*
sw/sume/rwaxi

projects/*/simple_sume_switch/hw/project/
projects/*/simple_sume_switch/hw/ip_repo/
projects/*/simple_sume_switch/test/reg_defines_simple_sume_switch.py


nf_sume_sdnet_ip/
API/
CLI/
seed

